<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title th:if="${mode eq 'edit'}"
               th:text="${mode eq 'edit' ? 'Edit' : 'Add'} + ' transaction'">Add/edit transaction</title>
    </head>
    <body>
        <main layout:fragment="content">
            <h2 th:text="${mode eq 'edit' ? 'Edit' : 'Add'} + ' transaction'">Add/edit transaction</h2>
            <form method="post"
                  th:action="${mode eq 'add' ? '/add' : '/edit'}"
                  th:object="${transaction}">
                <input type="hidden" th:value="*{id}">
                <div>
                    <label for="description">Description</label>
                    <input type="text" id="description" th:field="*{description}" required>
                </div>
                <div>
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" th:field="*{amount}" min="0" step="0.01">
                </div>
                <div>
                    <label for="date">Date</label>
                    <input type="date" id="date" th:field="*{date}">
                </div>
                <div>
                    <label for="type">Type</label>
                    <select id="type">
                        <option th:each="type: ${T(pl.adreszler.budgetmanager.Type).values()}"
                                th:value="${type}"
                                th:text="${type.nameEn}">Test type</option>
                    </select>
                </div>
                <button type="submit">Submit</button>
            </form>
        </main>
    </body>
</html>