<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title>Home page</title>
    </head>
    <body>
        <main layout:fragment="content">
            <h2>Welcome to your own budget manager!</h2>
            <p>Here is your list of transactions</p>
            <div>
                <p>Filters:</p>
                <ul>
                    <li>
                        <a href="/">
                            All
                        </a>
                    </li>
                    <li th:each="type: ${T(pl.adreszler.budgetmanager.Type).values()}">
                        <a th:href="@{|/?type=${type}|}"  th:text="${type.nameEn}">
                            Test type
                        </a>
                    </li>
                </ul>
                <p>
                    <a th:href="@{/add}">
                        Add new transaction
                    </a>
                </p>

            </div>
            <table>
                <thead>
                <tr>
                    <th>id</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction: ${allTransactions}" th:object="${transaction}">
                    <td th:text="*{id}">1</td>
                    <td th:text="*{description}">Opel w gazie</td>
                    <td th:text="*{amount}">21.37</td>
                    <td th:text="*{date}">2002-11-22</td>
                    <td th:text="*{type.nameEn}">Expense</td>
                    <td>
                        <a th:href="@{|/edit?id=*{id}|}" href="#">
                            Edit
                        </a>
                    </td>
                    <td>
                        <a th:href="@{|/delete?id=*{id}|}" href="#">
                            Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>